[package]
org = "ballerinax"
name = "mysql"
version = "@toml.version@"
authors = ["Ballerina"]
keywords = ["database", "network", "SQL", "RDBMS", "MySQL"]
repository = "https://github.com/ballerina-platform/module-ballerinax-mysql"
license = ["Apache-2.0"]
distribution = "slbeta3"

[[platform.java11.dependency]]
path = "../native/build/libs/mysql-native-@project.version@.jar"

[[platform.java11.dependency]]
path = "./lib/sql-native-@sql.native.version@.jar"

[[platform.java11.dependency]]
path = "./lib/mysql-connector-java-@mysql.driver.version@.jar"
scope = "testOnly"
