[package]
org = "ballerinax"
name = "mysql"
version = "1.12.0"
authors = ["Ballerina"]
keywords = ["database", "client", "network", "SQL", "RDBMS", "MySQL"]
repository = "https://github.com/ballerina-platform/module-ballerinax-mysql"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.9.0"

[platform.java17]
graalvmCompatible = true

[[platform.java17.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "mysql-native"
version = "1.12.0"
path = "../native/build/libs/mysql-native-1.12.0-SNAPSHOT.jar"

[[platform.java17.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "sql-native"
version = "1.13.0"
path = "./lib/sql-native-1.13.0-20240502-234000-648d89f.jar"
