[package]
org = "ballerinax"
name = "mysql"
version = "1.14.0"
authors = ["Ballerina"]
keywords = ["database", "client", "network", "SQL", "RDBMS", "MySQL"]
repository = "https://github.com/ballerina-platform/module-ballerinax-mysql"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.11.0"

[platform.java21]
graalvmCompatible = true

[[platform.java21.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "mysql-native"
version = "1.14.0"
path = "../native/build/libs/mysql-native-1.14.0-SNAPSHOT.jar"

[[platform.java21.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "sql-native"
version = "1.15.0"
path = "./lib/sql-native-1.15.0-20241127-162900-c57df5b.jar"
